/*---------------------
   Header section
 -----------------------*/
.header-section {
    padding: 24px 35px 14px 40px;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.site-logo {
    display: none !important;
    padding-top: 5px;
    position: relative;
    z-index: 101;
}
.menu-switch {
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 101;
    i {
        color: $white_color;
        font-size: 37px;
        line-height: 37px;
    }
}