
 @import 'varriable';
 @import '_mixins';


// default
@import 'default';

// helper
@import 'helper';

//loader
@import 'loader';
 
// Menu
@import 'menu';

//header
@import 'header';

//footer
@import 'footer';

//About Page
@import 'about-page';

//Gallery Page
@import 'gallery-page';
 
//Blog Page
@import 'blog-page';
 
//Blog single Page
@import 'blog-single';

//Contact Page
@import 'contact-page';

//hero (imported last for highest priority)
@import 'hero';
 